* {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #449166;;

}
a:hover {
    color: #134713;
}

button {
    outline: none;
}

hr {
    width: 80%;
    color: lightslategray;
}
.active {
    color: #134713;
}

.container {
    display: flex;
    flex-direction: row;
}