* {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #449166;;

}
a:hover {
    color: #134713;
}

hr {
    width: 80%;
    color: lightslategray;
}
.active {
    color: #134713;
}

.container {
    display: flex;
    flex-direction: row;
}

/* All sidebar styling*/
.sidebar {
    flex: 1;
    background-color: #449166;
    flex-direction: column;
    margin: 0.25rem 0;
    min-width: 17.9rem;
    height: 98vh;
}
.sidebar__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0;
}
.sidebar__profile__name {
    text-align: center;
    margin-top: 0;
    padding-top: 1rem;
    color: white;
}
.sidebar__profile__image {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 0.25rem solid white;
}
.sidebar__profile__bio {
    font-size: 1.25rem;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 1.6;
    padding-top: 0;
}
.sidebar__profile__socials {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}
.sidebar__profile__social {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
}
.font-icon {
    margin: 33%;
}

.sidebar__navigation {
    flex: 5;
    padding: 3rem 0;
}
.sidebar__navigation__list {
    list-style: none;
    color: white;
    font-size: 1.25rem;
    padding-left: 0;
}
.sidebar__navigation__list__item {
    padding: 0.5rem;
    padding-bottom: 0;
}
.sidebar__navigation__list__item:hover{
    color: #134713;
}

.sidebar__navigation__list__item__icon {
    height: 3rem;
    width: 3rem;
    margin: 0 0.825rem;
    text-align: center;

}
.sidebar__navigation__flex__container {
    display: flex;
    flex: 1;
    justify-content: center;
}
.sidebar__navigation__contact {
    padding: 0.5rem 1rem;
    background-color: #134713;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}



/* All about me body Styling*/
.about {
    display: flex;
    flex: 5;
    flex-direction: column;
    overflow-y: scroll;
    height: 98vh;
}
.about__upper {
    flex: 3;
    display: flex;
    flex-direction: row;
    background-color: #e9e9e9;
}

.about__upper__body {
    flex: 5;
    min-width: 32.5rem;
    padding-left: 3rem;
}
.about__upper__body__title {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.about__upper__body__subtitle {
    margin-top: 1rem;
    font-size: 2rem;
}
.about__upper__body__description {
    line-height: 1.6;
    font-size: 1.5rem;
    max-width: 44rem;
}
.about__upper__body__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.about__upper__body__buttons__portfolio {
    padding: 0.5rem 1rem;
    background-color: #134713;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}
.about__upper__body__buttons__resume {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    background-color: #4d4d4d;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}
.about__upper__body__buttons__icon {
    padding-right: 1rem;
}
.about__upper__image__container {
    flex: 3;
    display: flex;
    filter: grayscale();
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.about__upper__image {
    max-width: 21rem;
    max-height: auto;
    margin: 2.5rem;
}

.about__lower {
    flex: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.about__lower__tile {
    width: 14rem;
    height: 14rem;
    margin: 1rem;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3);
}
.about__lower__tile__icons {
    padding: 0.25rem;
}
.about__lower__tile__title {
    font-weight: bolder;
    font-size: 1.25rem;
    padding: 0;
    margin: 0.5rem;
}
.about__lower__tile__desc {
    margin: 0.5rem;
}