@media (min-width: 768px) {
	.navbar-nav.navbar-center{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}
.column {
	float: left;
	width: 33%;
}
.row {
	width: 50%;
}
.row:after {
	display: table;
	clear: both;
}
.desc{
	float: right;
}
img {
	height: 80px;
	width: 80px;
	border-radius: 50%;	
}