body {
	background-color: #5d63f8;
	font-size: 80%;
}
img {
	height: 25%;
	width: 25%;
	padding: 5px;
}
a {
	font-size: 15px;
}
.container {
	padding-top: 50px;
	background-color: #f8f8f8;
}
/*#Kenneth {
	float: right;
}
*/
#AboutMe {
	background-color: #5d63f8;
	height: 600px;
}
#myNavBar {
	
}
#Sites {
	height: 600px;
}
#ContactMe {
	background-color: #5d63f8;
	height: 600px;
}