<div class="menu">
  <div class="menu__profile">
    <img
      class="menu__profile__image"
      src="../../../assets/Github.jpeg"
      alt="Profile Image"
    />
    <p class="menu__profile__title">Ken Carroll</p>
    <p class="menu__profile__subtitle">Software Engineer</p>
  </div>
  <div class="menu__items">
    <ul class="menu__list">
      <li class="menu__list__item">About</li>
      <li class="menu__list__item">Projects</li>
      <li class="menu__list__item">Articles</li>
      <li class="menu__list__item">Contact</li>
    </ul>
  </div>
</div>
