<div class="menu" [ngClass]="{ visible: isVisible }">
  <div class="menu__profile">
    <img
      class="menu__profile__image"
      src="../../../assets/Github.jpeg"
      alt="Profile Image"
    />
    <p class="menu__profile__title">Ken Carroll</p>
    <p class="menu__profile__subtitle">Software Engineer</p>
  </div>
  <div class="menu__items">
    <ul class="menu__list">
      <li class="menu__list__item">About</li>
      <li class="menu__list__item">Projects</li>
      <li class="menu__list__item">Articles</li>
      <li class="menu__list__item">Contact</li>
    </ul>
  </div>
  <div class="menu__show" (click)="toggleVisible()">
    <div class="menu__show__hidden"></div>
    <div class="menu__show__arrow">{{ arrow }}</div>
  </div>
  <div class="menu__socials">
    <div class="menu__socials__icon"><fa-icon [icon]="linkedIn"></fa-icon></div>
    <div class="menu__socials__icon"><fa-icon [icon]="github"></fa-icon></div>
  </div>
</div>
