/* All sidebar styling*/


.sidebar {
    flex: 1;
    background-color: #231F20;
    flex-direction: column;
    margin-bottom: 0.5rem;
    min-width: 17.9rem;
    height: 99vh;
    overflow: hidden;
}
.sidebar__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0;
}
.sidebar__profile__name {
    text-align: center;
    margin-top: 0;
    padding-top: 1rem;
    color: #EAEAEA;
}
.sidebar__profile__image {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 0.25rem solid #EAEAEA;
}
.sidebar__profile__bio {
    font-size: 1.25rem;
    color: #EAEAEA;
    text-align: center;
    padding: 1rem;
    line-height: 1.6;
    padding-top: 0;
}
.sidebar__profile__socials {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}
.sidebar__profile__social {
    color: #231F20;
    width: 3rem;
    height: 3rem;
    background-color: #EAEAEA;
    border-radius: 50%;
}

.sidebar__profile__social:hover {
    color: #AD974F;
}

.font-icon {
    margin: 33%;
}

.sidebar__navigation {
    flex: 5;
    padding: 3rem 0;
}
.sidebar__navigation__list {
    list-style: none;
    color: #EAEAEA;
    font-size: 1.25rem;
    padding-left: 0;
}
.sidebar__navigation__list__item {
    padding: 0.5rem;
    padding-bottom: 0;
}
.sidebar__navigation__list__item:hover{
    color: #AD974F;
}

.sidebar__navigation__list__item__icon {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    margin: 0 0.825rem;
    text-align: center;

}
.sidebar__navigation__flex__container {
    display: flex;
    flex: 1;
    justify-content: center;
}
.sidebar__navigation__contact {
    padding: 0.5rem 1rem;
    background-color: #231F20;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    color: #EAEAEA;
    border: none;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: 2px solid white;
}

.sidebar__navigation__contact:hover {
    color: #AD974F;
    border: 2px solid #AD974F;
}
