* {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #EAEAEA;

}
a:hover {
    color: #AD974F;;
}

button {
    outline: none;
}

hr {
    width: 80%;
    color: #EAEAEA;
}
.active {
    color: #8e793e;
}

.container {
    display: flex;
    flex-direction: row;
}